:root {
  --color-gray-6: hsl(224, 20%, 94%);
  --color-gray-7: hsl(224, 19%, 97%);
  --color-yellow: #FFD966;
  --color-red: #D32F2F;
  --color-black: #000000;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.prose {
  max-width: 100% !important;
}

header {
  background: var(--color-yellow);
  padding: .7rem 1.5rem;
  border-bottom: 1px solid var(--color-gray-6);
}

main {
  flex: 1;
}

footer {
  text-align: center;
  background: var(--color-gray-7);
}

nav a {
  text-decoration: none !important;
}

a {
  text-underline-offset: .2rem;
  color: var(--color-black);
}

a:hover {
  color: var(--color-red);
}

menu, ol, ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}