:root {
  --nav-height: 4rem;
  --color-gray-5: hsl(224, 10%, 23%);
  --color-gray-2: hsl(224, 6%, 77%);
  --color-gray-6: hsl(224, 14%, 16%);
  --color-gray-7: hsl(224, 19%, 97%);
  --color-black: hsl(224, 10%, 10%);
  --color-white: hsl(0, 0%, 100%);
}

:root[data-theme=light], [data-theme=light] ::backdrop {
  --color-bg-nav: var(--color-gray-7);
  --color-text: var(--color-gray-5);
  --color-bg: var(--color-white);
}

:root[data-theme=dark], [data-theme=dark] ::backdrop {
  --color-bg-nav: var(--color-gray-6);
  --color-text: var(--color-gray-2);
  --color-bg: var(--color-black);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
}

header {
  background-color: var(--color-bg-nav);
  height: var(--nav-height);
}

.nav-links a {
  color: var(--color-text);
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

main {
  flex: 1;
}