---
import PageTitle from "../components/PageTitle.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Không tìm thấy trang";
---

<BaseLayout pageTitle={pageTitle}>
  <PageTitle pageTitle={pageTitle} styles="text-center"/>
  <div class="text-center">
    <p>Trang bạn đang tìm kiếm không tồn tại.</p>
    <a href="/">Trở về trang Home</a>
  </div>
</BaseLayout>