---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Tôi là Tống Viết Thanh, sống ở Huế và là một lập trình viên có kinh nghiệm xây dựng các ứng dụng bằng công nghệ .NET của Microsoft.
  </p>
  <p>
    Kỹ năng chính của tôi là phát triển backend với .NET và tạo giao diện người dùng với Angular. Tôi đam mê viết code và luôn học hỏi để theo kịp với sự phát triển không ngừng của thế giới công nghệ.
  </p>
  <p>
    Thông tin liên hệ: 
    <ul>
      <li>
        Email: <a href="mailto:vituthanh@gmail.com">vituthanh@gmail.com</a>
      </li>
      <li>
        Facebook: <a href="https://www.facebook.com/tvt2022" target="_blank">https://www.facebook.com/tvt2022</a>
      </li>
    </ul>
  </p>
</BaseLayout>