---
---

<footer>
  <p>© 2024 <a href="https://vituthanh.github.io">vituthanh.github.io</a>. All rights reserved.</p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin: auto;
  }
</style>